/* подвал */
.footer {
	padding-top: 44px;
	padding-bottom: 44px;

	@media screen and (min-width: 768px) {
		padding-top: 56px;
		padding-bottom: 56px;
	}
}

.footer-container {
	display: flex;
	flex-direction: column;
	gap: 50px;

	@media screen and (min-width: 480px) {
		justify-content: space-between;
		height: 50px;
	}

	@media screen and (min-width: 768px) {
		flex-direction: row;
	}
}

.footer-copy {
	align-self: flex-start;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 2.2px;
	color: var(--third-text-color);

	@media screen and (min-width: 480px) {
		align-self: flex-end;
	}

	@media screen and (min-width: 768px) {
		align-self: center;
	}
}

.footer-list {
	display: flex;
	align-items: center;
	gap: 40px;

	@media screen and (max-width: 767px) {
		align-self: flex-start;
	}
}

.footer-list::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: var(--secondary-text-color);
}

.footer-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
}
