/* галерея */
.gallery {
	padding-top: 84px;
	padding-bottom: 84px;

	@media screen and (min-width: 768px) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@media screen and (min-width: 1280px) {
		padding-top: 130px;
		padding-bottom: 130px;
	}
}

.gallery-pre-title {
	margin-bottom: 44px;
	color: var(--secondary-text-color);
	font-size: 11px;
	font-weight: 600;
	line-height: 21px;
	letter-spacing: 1.1px;
	text-transform: uppercase;
}

.gallery-list {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
}

.gallery-item {
	width: 100%;
	height: 100%;
	perspective: 600px;

	@media screen and (min-width: 768px) {
		max-width: calc((100% - 30px) / 2);
	}

	@media screen and (min-width: 1280px) {
		max-width: calc((100% - 90px) / 4);
	}
}

.gallery-item:not(:last-child) {
	@media screen and (max-width: 767px) {
		margin-bottom: 30px;
	}
}

.gallery-item-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	font-size: 40px;
	font-weight: bold;
	transition: transform 1500ms var(--timing-function);
}

.gallery-item-img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
	backface-visibility: hidden;
}

.gallery-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-item-back {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: center;
	color: var(--primary-title-color);
	background-color: rgba(25, 28, 38, 0.3);
	backface-visibility: hidden;
	transform: rotateY(180deg);
}

.gallery-item:hover .gallery-item-wrap {
	transform: rotateY(180deg);
}
